@import "portfolio.css";
@import "projects.css";

.section-cover {
    margin-top: 74px;
    padding: 0 15px;
    padding-bottom: 80px;
    padding-top: 1px;
}
.nav-page {
    display: none;
}
.content-cover {
    margin-top: 50px;
}
.text-about {
    margin: 0 auto;
    padding: 0 50px;
    margin-bottom: 10px;
    color: var(--black-medium-color);
    font-family: var(--default-font-family);
    text-align: start;
}
.section-gallery {
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: var(--secondary-light-color);
}
.title-gallery {
    margin-bottom: 30px;
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .section-cover {
        margin-top: 80px;
        padding-bottom: 120px;
        padding-top: 24px;
    }
    .nav-page {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 16px;
        color: var(--black-medium-color);
        transition: color 250ms var(--timing-function);
    }
    .nav-page-item {
        text-decoration: underline;
        color: var(--black-medium-color);
    }
    .nav-page-item:hover {
        color: var(--primary-dark-color);
        text-shadow: 3px 2px 3px rgba(230, 81, 0, 0.3);
    }
    .nav-page-item__current {
        color: var(--secondary-dark-color);
    }
    .content-cover {
        margin-top: 64px;
    }
    .story-about {
        display: flex;
        justify-content: center;
    }
    .text-story {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 24px;
        max-width: 300px;
    }
    .text-about {
        font-size: 16px;
        padding: 0;
        margin-bottom: 10px;
    }
    .section-gallery {
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .title-gallery {
        font-size: 48px;
    }
}

@media screen and (min-width: 1024px) {
    .section-cover {
        margin-top: 108px;
        padding-bottom: 150px;
        padding-top: 30px;
    }
    .content-cover {
        margin-top: 88px;
    }
    .text-story {
        margin-left: 30px;
        max-width: 500px;
    }
    .text-about {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .section-gallery {
        padding: 60px 100px;
    }
    .title-gallery {
        text-align: start;
    }
    .box-gallery {
        display: flex;
        align-items: center;
        gap: 24px;
    }
}
