:root {
    --primary-dark-color: #4a148c;
    --primary-medium-color: #8939ec;
    --primary-light-color: #f9f5fe;
    --secondary-dark-color: #e65100;
    --secondary-medium-color: #ff810d;
    --secondary-light-color: #fff9f4;
    --black-dark-color: #131313;
    --black-dark-medium-color: #363636;
    --black-medium-color: #717171;
    --black-medium-light-color: #b8b8b8;
    --black-light-color: #e7e7e7;
    --black-super-light-color: #f3f3f3;
    --white-color: #ffffff;
    --heading-font-family: "Vollkorn", serif;
    --default-font-family: "Barlow", sans-serif;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Basic styles */
body {
    font-family: var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

h1,
h2,
h3,
p {
    margin: 0;
    font-family: "Vollkorn", serif;
}

h1 {
    margin-bottom: 24px;
    color: var(--black-dark-color);
    font-size: 36px;
    font-weight: 700;
}
h2 {
    font-weight: 700;
    font-size: 24px;
    color: var(--black-dark-medium-color);
}
p {
    font-family: var(--heading-font-family);
    font-size: 16px;
    font-weight: 500;
    color: var(--black-dark-medium-color);
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

/* Header style */
.box-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 20px 15px;
    background-color: var(--primary-dark-color);
}
.nav {
    display: none;
    flex: 1 100%;
}
.nav-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}
.nav-item a {
    font-size: 16px;
    color: var(--black-medium-light-color);
    transition: color 250ms var(--timing-function),
        text-decoration 250ms var(--timing-function);
}
.nav-item a:hover {
    color: var(--secondary-light-color);
    text-decoration: underline;
}
.nav-item__current a {
    color: var(--secondary-medium-color);
}
.logo {
    width: 142px;
    height: 24px;
}
.button-menu {
    display: flex;
    margin-left: auto;
    padding: 4px;
    z-index: 1;
    border-radius: 4px;
    border: 1px solid var(--white-color);
    background-color: transparent;
    color: var(--white-color);
    transition: color 250ms var(--timing-function),
        border-color 250ms var(--timing-function);
}
.button-menu:hover {
    color: var(--secondary-dark-color);
    border-color: var(--secondary-dark-color);
}
.menu {
    fill: currentColor;
}
.is-open {
    display: flex;
}

.button-menu .icon-close {
    display: none;
}
.button-menu.is-open .icon-close {
    display: block;
}
.button-menu.is-open .icon-menu {
    display: none;
}

/* Hero styles */
.section-hero {
    margin-top: 74px;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--secondary-light-color);
}
.box-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.icon-hello {
    margin-right: 15px;
    width: 48px;
    height: 48px;
}
.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 24px;
    font-size: 20px;
}
.box-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    padding: 4px 8px;
    background-color: var(--primary-light-color);
    border: 2px solid var(--primary-dark-color);
    border-radius: 4px;
    min-width: 150px;
    font-family: var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--secondary-dark-color);
    box-shadow: 3px 5px 5px rgba(33, 39, 39, 0.2);
    transition: background-color 250ms var(--timing-function),
        color 250ms var(--timing-function);
}
.button:not(:last-child) {
    margin-bottom: 24px;
}
.button:hover {
    background-color: var(--primary-dark-color);
    color: var(--secondary-light-color);
}

/* Content style */
.box-text {
    background-color: var(--primary-medium-color);
    padding-top: 16px;
    padding-bottom: 16px;
}
.text {
    font-family: var(--default-font-family);
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 2;
    color: var(--black-super-light-color);
}
.section-content {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}
.content__color-primary {
    background-color: var(--primary-light-color);
}
.content__color-secondary {
    background-color: var(--secondary-light-color);
}
.img-project-one {
    margin: 0 auto;
    margin-bottom: 24px;
    width: 240px;
    height: 300px;
}
.img-project-two {
    margin: 0 auto;
    margin-bottom: 24px;
    width: 286px;
    height: 168px;
}
.box-project {
    margin: 0 auto;
    padding: 0 50px;
}
.title-project {
    margin-bottom: 20px;
    color: var(--black-dark-color);
}
.text-project {
    margin-bottom: 20px;
    font-family: var(--default-font-family);
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    /* Header style */
    .box-header {
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .nav {
        display: flex;
        flex: none;
    }
    .nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    .button-menu {
        display: none;
    }

    /* Hero style */
    .section-hero {
        margin-top: 80px;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .box-title {
        margin-bottom: 30px;
    }
    .icon-hello {
        margin-right: 20px;
        width: 52px;
        height: 52px;
    }
    h2 {
        font-size: 36px;
    }
    h1 {
        margin-bottom: 30px;
        font-size: 64px;
        line-height: 1;
    }
    p {
        font-size: 32px;
    }
    .description {
        display: block;
        margin-bottom: 40px;
        text-align: center;
        font-size: 32px;
    }
    .box-button {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 50px;
    }
    .button {
        padding: 16px 24px;
        border-radius: 8px;
        border: 3px solid var(--primary-dark-color);
        font-size: 20px;
        line-height: 1.2;
    }
    .button:not(:last-child) {
        margin-bottom: 0;
    }

    /* Content style */
    .box-text {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .text {
        font-size: 24px;
    }
    .section-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .content-weather {
        flex-direction: row-reverse;
    }
    .img-project-one {
        margin: 0;
        margin-right: 24px;
    }
    .img-project-two {
        margin: 0;
        margin-left: 24px;
        width: 360px;
        height: 212px;
    }
    .box-project {
        margin: 0;
        padding: 0;
        max-width: 280px;
        text-align: start;
    }
    .title-project {
        margin-bottom: 16px;
    }
    .text-project {
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 1024px) {
    /* Header style */
    .box-header {
        padding-top: 36px;
        padding-bottom: 36px;
    }
    .logo {
        width: 160px;
        height: 30px;
    }
    .nav-list {
        gap: 20px;
    }
    .nav-item a {
        font-size: 20px;
    }

    /* Hero style */
    .section-hero {
        margin-top: 108px;
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .icon-hello {
        margin-right: 25px;
        width: 64px;
        height: 64px;
    }
    p {
        font-size: 36px;
    }
    .description {
        font-size: 36px;
    }

    /* Content style */
    .box-text {
        padding-top: 36px;
        padding-bottom: 36px;
    }
    .text {
        font-size: 32px;
        line-height: 1.13;
    }
    .section-content {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .img-project-one {
        margin-right: 30px;
        width: 380px;
        height: 460px;
    }
    .img-project-two {
        margin-left: 30px;
        width: 600px;
        height: 356px;
    }
    .box-project {
        max-width: 540px;
    }
    .title-project {
        margin-bottom: 24px;
        font-size: 48px;
    }
    .text-project {
        margin-bottom: 24px;
        font-size: 24px;
    }
}
