:root {
    --primary-dark-color: #4a148c;
    --primary-medium-color: #8939ec;
    --primary-light-color: #f9f5fe;
    --secondary-dark-color: #e65100;
    --secondary-medium-color: #ff810d;
    --secondary-light-color: #fff9f4;
    --black-dark-color: #131313;
    --black-dark-medium-color: #363636;
    --black-medium-color: #717171;
    --black-medium-light-color: #b8b8b8;
    --black-light-color: #e7e7e7;
    --black-super-light-color: #f3f3f3;
    --white-color: #ffffff;
    --heading-font-family: "Vollkorn", serif;
    --default-font-family: "Barlow", sans-serif;
}
